{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taste Rater</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="left-nav">
                  <li><a href="{% url 'home' %}" class="site-title">&nbsp;&nbsp;Taste Rater</a></li>
                </ul>
                <ul class="right-nav">
                  {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'user_profile' user.id %}" class="button">Profile</a>
                  </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" class="inline-form">
                            {% csrf_token %}
                            <button type="submit" class="button logout-button">Log Out</button>
                        </form>
                    </li>
                  {% else %}
                    <li><a href="{% url 'signup' %}" class="button">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" class="button">Log In</a></li>
                  {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy; 2024 Taste Rater &nbsp;</div>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
